<h2><%= @user.name %></h2>
<%= form_for :departure, "#", [phx_submit: "create", phx_change: "check_enabled"], fn form -> %>
  <div>
    <%= PhoenixMTM.Helpers.collection_checkboxes(
      form,
      :preferences,
      Enum.map(@user.groups, & ({&1.name, &1.id}))
    ) %>
  </div>
  <input type="submit" class="block-button" value="Submit" <%= disabled?(@disabled) %> >
<% end %>
